<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>330988110382-19u3hrss7gmg0q3hder3r9neg27i5dq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330988110382-19u3hrss7gmg0q3hder3r9neg27i5dq6</string>
	<key>API_KEY</key>
	<string>AIzaSyAZOsg2njtxLXB6t2FQWWpyk3MOVrQQltw</string>
	<key>GCM_SENDER_ID</key>
	<string>330988110382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunzala.com.afghan-baby-names</string>
	<key>PROJECT_ID</key>
	<string>afghan-baby-names</string>
	<key>STORAGE_BUCKET</key>
	<string>afghan-baby-names.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:330988110382:ios:621b725b52859cad</string>
	<key>DATABASE_URL</key>
	<string>https://afghan-baby-names.firebaseio.com</string>
</dict>
</plist>
